@model IEnumerable<QuanLyNhanSu.Models.ChucVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Danh Sách Chức Vụ</h2>
@{
    if (Convert.ToBoolean(Session["isAdmin"]))
    {
        <div class="form-group row">
            <div class="col-md-1">
                <a href="@Url.Action("Create", "ChucVus")" class="btn btn-outline-success btn-sm">Thêm mới</a>
            </div>
        </div>
    }
}
@*<div class="form-group row">
        <div class="col-md-1">
            <a href="@Url.Action("Create","ChucVus")" class="btn btn-outline-success btn-sm">Thêm mới</a>
        </div>
    </div>*@

<table class="table table-dark table-hover table-bordered text-center table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenCV)
        </th>
        @{
            if (Convert.ToBoolean(Session["isAdmin"])) {
                <th>
                    Thao Tác
                </th>
            }
         }
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdCV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenCV)
    </td>
    @{ 
        if (Convert.ToBoolean(Session["isAdmin"]))
        {
            <td>
            <a href="@Url.Action("Details", "ChucVus", new { id = item.IdCV })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Chi Tiết"><i class="fa fa-book"></i></a>
            <a href="@Url.Action("Edit", "ChucVus", new { id = item.IdCV })" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Chỉnh Sửa"><i class="fas fa-pen"></i></a>
            <a href="@Url.Action("Delete", "ChucVus", new { id = item.IdCV })" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Xóa"><i class="far fa-trash-alt"></i></a>
            </td>
        }
     }
</tr>
    }

</table>
