@model QuanLyNhanSu.Models.PhongBan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Bạn Có Muốn Xóa Thông Tin Phòng Ban Này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPB)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-group row " style="padding-top:10px;padding-left:15px">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <div class="col-md-2">
        <a href="@Url.Action("Index","PhongBans")" class="btn btn-primary">Trở lại</a>
    </div>
</div>
    }
</div>
