<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quản lý nhân sự</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/decoupled-document/ckeditor.js"></script>
    <link rel="stylesheet" href="~/Public/Admin/css/all.min.css">
    <link href="~/public/image/kisspng-user-computer-icons-gravatar-blog-happy-woman-5aca6d038826d9.7357010215232156195577.jpg" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Public/Admin/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    <link href="~/Public/Admin/css/summernote-bs4.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Public/Admin/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Public/Admin/css/OverlayScrollbars.min.css">
    <link href="~/Public/Admin/css/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Public/Admin/css/dataTables.bootstrap4.min.css">
    <link href="~/Public/Admin/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Public/Admin/css/style.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="~/Public/Admin/css/font-sans.pro.css">

    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap4'
            });
        });
    </script>*@
    <style>
        .note-editable {
            min-height: 200px;
        }

        .note-toolbar {
            margin: 0 auto;
            padding: 5px 0;
        }

        .text-csm {
            font-family: Arial, Helvetica, sans-serif;
            color: #dc3545;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 17px;
            padding: 10px 0 0 10px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="overlay justify-content-center align-items-center d-none bg-secondary w-100 h-100 position-absolute" style="z-index:1; opacity:.3" id="delay"><i class="fas fa-2x fa-sync fa-spin"></i>Đang xử lý...</div>
    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        @Session["HoTen_user"]
                    </a>

                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="min-width:200px; font-size: 15px;">
                        <a href="~/NhanViens/Edit/@Session["user_id"]" class="dropdown-item dropdown-footer text-left">
                            <i class="fas fa-user-edit mr-2"></i>Thông tin cá nhân
                        </a>
                        <a href="~/HopDongs/Details/@Session["user_id"]" class="dropdown-item dropdown-footer text-left">
                            <i class="fas fa-book mr-2"></i>Hợp Đồng Cá Nhân
                        </a>
                        <a href="@Url.Action("Create", "ChamCongs", new {IdNV = Session["user_id"]})" class="dropdown-item dropdown-footer text-left">
                            <i class="fas fa-check mr-2"></i>Chấm Công
                        </a>
                        <a href="~/Home/Logout" class="dropdown-item dropdown-footer text-left">
                            <i class="fas fa-sign-out-alt mr-2"></i>Đăng xuất
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="~/Admin/Homes" class="brand-link">
                <img src="~/public/image/kisspng-user-computer-icons-gravatar-blog-happy-woman-5aca6d038826d9.7357010215232156195577.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Quản lý nhân sự</span>
            </a>
            <style>
                #menu a {
                    color: white;
                }
            </style>
            <div class="sidebar">
                <nav class="mt-2" id="menu">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("Index","Home")" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>Trang chủ</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("Index","ChucVus")" class="nav-link">
                                <i class="nav-icon fas fa-people-arrows"></i>
                                <p>Chức Vụ</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("Index","PhongBans")" class="nav-link">
                                <i class="nav-icon fas fa-door-open"></i>
                                <p>Phòng Ban</p>
                            </a>
                        </li>
                        @{
                            if (Convert.ToBoolean(Session["isAdmin"]))
                            {
                                <li class="nav-item has-treeview">
                                    <a href="@Url.Action("Index","NhanViens")" class="nav-link">
                                        <i class="nav-icon fas fa-person-booth"></i>
                                        <p>Nhân Viên</p>
                                    </a>
                                </li>

                                <li class="nav-item has-treeview">
                                    <a href="@Url.Action("Index","HopDongs")" class="nav-link">
                                        <i class="nav-icon fas fa-book"></i>
                                        <p>Hợp Đồng</p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="@Url.Action("Index", "ChamCongs")" class="nav-link">
                                        <i class="nav-icon fas fa-check"></i>
                                        <p>Chấm Công</p>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper" style="padding-top:10px;padding-left:20px;padding-right:20px">
            @RenderBody()
        </div>
    </div>

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
        </div>
    </footer>
    <script src="~/Public/Admin/js/jquery.min.js"></script>
    <script src="~/Public/Admin/js/bootstrap.bundle.min.js"></script>
    <script src="~/Public/Admin/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/Public/Admin/js/adminlte.min.js"></script>
    <script src="~/Public/Admin/js/jquery.dataTables.min.js"></script>
    <script src="~/Public/Admin/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Public/Admin/js/sweetalert2.min.js"></script>
    <script src="~/Public/Admin/js/summernote-bs4.min.js"></script>
    <script src="~/Public/Admin/js/j.js"></script>
    <script src="~/Public/Admin/js/toastr.min.js"></script>
    <script src="~/Public/Admin/js/karma.laclac.min.js"></script>
    <script>$(function () { $('.textarea').summernote() })</script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=699266887289373&autoLogAppEvents=1" nonce="xJm9L3lp"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
