@model QuanLyNhanSu.Models.ChamCong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="text-danger text-center">Bạn Có Chắc Muốn Xóa Thông Tin Chấm Công Này ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayChamCong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayChamCong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoTen)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <input type="submit" value="Xóa" class="btn btn-danger " />
            <div class="col-md-2">
                <a href="@Url.Action("Index","ChamCongs")" class="btn btn-primary">Trở lại</a>
            </div>
        </div>
    }
</div>
