@model QuanLyNhanSu.Models.ChamCong

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}

<h2 class="text-center">Chỉnh Sửa Thông Tin Chấm Công</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCC)

        <div class="form-group">
            @Html.LabelFor(model => model.NgayChamCong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NgayChamCong, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "datepicker" })
                @Html.ValidationMessageFor(model => model.NgayChamCong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdNV, "Tên Nhân Viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdNV", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-top:10px;padding-left:10px">
            <input type="submit" value="Cập Nhật" class="btn btn-success" />
            <div class="col-md-2">
                <a href="@Url.Action("Index","ChamCongs")" class="btn btn-primary">Trở lại</a>
            </div>
        </div>
    </div>
}

