@model IEnumerable<QuanLyNhanSu.Models.ChamCong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Danh Sách Chấm Công</h2>

    <div class="form-group row">
        <div class="col-md-1">
            <a href="@Url.Action("Create","ChamCongs", new {IdNV = Session["user_id"]})" class="btn btn-outline-success btn-sm">Thêm mới</a>
        </div>
    </div>

    <table class="table table-dark table-hover table-bordered text-center table-striped">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.IdCC)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NhanVien.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayChamCong)
            </th>
            <th>Thao Tác</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.IdCC)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.NgayChamCong)
                </td>
                <td>
                    <a href="@Url.Action("Details", "ChamCongs", new { id = item.IdCC })" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Chi Tiết"><i class="fa fa-book"></i></a>
                    <a href="@Url.Action("Edit", "ChamCongs", new { id = item.IdCC })" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Chỉnh Sửa"><i class="fas fa-pen"></i></a>
                    <a href="@Url.Action("Delete", "ChamCongs", new { id = item.IdCC })" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Xóa"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }

    </table>
